.photo
{
    float: left;
    margin-right: 10px;
    width: 140px;
    height: 140px;
}

#get-in-touch .contact
{
    text-align: center;
    margin: 0px 0px 0px 10px; 
    width: 110px;
    display: inline-block;
}

#get-in-touch p
{
    margin-top: 1px;
    font-size: 10px;
}

section .entry
{
    vertical-align: top;
    display: inline-block;
    margin-left: 10px;
    max-width: 375px; /* TODO: When smaller viewport is made, remove this */
}

section .icon
{
    height: 16px;
    position: relative;
    top: 2px;
    margin: 0px 5px 0px 0px;
    border: 0;
}

section header
{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    text-transform: uppercase;
    width: 130px;
    font-size: 12px;
    text-align: right;
}
