*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #fdfdfd;
    font-family: Arial, sans-serif;
}

a
{
    color: #808080;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6
{
    font-family: Helvetica, Verdana, Geneva, sans-serif;
    font-weight: normal;
    color: #4e4c4c;

}

h1
{
    text-shadow: -2px 2px 5px #fff;
    font-size: 72px;
}

h2
{
    font-size: 24px;
    font-style: italic;
}

.entry
{
    display: inline-block;
}

hr
{
    margin: 20px 0px 20px 0px;
}

#content
{
    margin: 0px 100px 0px 100px;
}



.section .entry
{
    text-align: center;
    margin: 0px 0px 0px 10px; 
    width: 110px;
}

.section .icon
{
    height: 16px;
    position: relative;
    top: 2px;
    margin: 0px 5px 0px 0px;
    border: 0;
}

.section h2
{
    display: inline-block;
    margin-bottom: 10px;
    font-stretch: condensed;
}

.section .entry p
{
    margin-top: 1px;
    font-size: 10px;
}

.photo
{
    float: left;
    margin-right: 10px;
}

.clear
{
    clear: both;
}