*
{
    margin: 0;
    padding: 0;
}

html
{
    max-width: 600px;
    min-width: 520px; /* TODO: Make this a snap point to change viewport */

    margin-left: auto;
    margin-right: auto;
}

body
{
    background-color: #fdfdfd;
    font-family: Helvetica, sans-serif;

    width: 100%;

}

a
{
    color: #808080;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6
{
    font-family: Helvetica, Verdana, Geneva, sans-serif;
    font-weight: normal;
    color: #4e4c4c;

}

h1
{
    text-shadow: -2px 2px 5px #fff;
    font-size: 72px;
}

hr
{
    margin: 20px 0px 20px 0px;
}

#get-in-touch .contact
{
    text-align: center;
    margin: 0px 0px 0px 10px; 
    width: 110px;
    display: inline-block;
}

#get-in-touch p
{
    margin-top: 1px;
    font-size: 10px;
}

section .entry
{
    vertical-align: top;
    display: inline-block;
    margin-left: 10px;
    max-width: 375px; /* TODO: When smaller viewport is made, remove this */
}

section .icon
{
    height: 16px;
    position: relative;
    top: 2px;
    margin: 0px 5px 0px 0px;
    border: 0;
}

section header
{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    text-transform: uppercase;
    width: 130px;
    font-size: 12px;
    text-align: right;
}

section
{
    margin-bottom: 25px;
    font-size: 14px;
}

.photo
{
    float: left;
    margin-right: 10px;
    width: 140px;
    height: 140px;
}

.clear
{
    clear: both;
}