*
{
    margin: 0;
    padding: 0;
}

html
{
    max-width: 600px;
    min-width: 520px; /* TODO: Make this a snap point to change viewport */

    margin-left: auto;
    margin-right: auto;
}

body
{
    background-color: #fdfdfd;
    font-family: Helvetica, sans-serif;

    width: 100%;

}

a
{
    color: #808080;
    text-decoration: none;
}

a:visited
{
    color: #808080;
    text-decoration: none;
}

nav
{
    text-transform: uppercase;
    text-align: center;
}

nav ul
{
    list-style: none;
    margin: 10px 0 10px 0;

}

nav ul li
{
display: inline;
margin: 0 10px 0 10px;
}

nav ul li *
{
    padding: 5px;
}

nav ul li *:hover
{
    background-color: #7E7E7E; /* for browsers that don't support rgba() */
    background-color: rgba(0, 0, 0, 0.5);
    color: #f0f0f0 !important;
    border-radius: 2px 2px;
}

nav ul li *:active
{
    background-color: #000;
    color: #fff !important;
}

h1, h2, h3, h4, h5, h6
{
    font-family: Helvetica, Verdana, Geneva, sans-serif;
    font-weight: normal;
    color: #4e4c4c;

}

h1
{
    text-shadow: -2px 2px 5px #fff;
    font-size: 72px;
}

hr
{
    margin: 20px 0px 20px 0px;
}

section
{
    margin-bottom: 25px;
    font-size: 14px;
}

.clear
{
    clear: both;
}