.album
{
    display: inline-block;
    width: 324px;
    height: 187px;
}

.album img
{
    display: inline-block;
    box-shadow: 0 0 12px rgba(128, 128, 128, 0.8);
}

.album .caption
{
    height: 50px;
    background-color: #7E7E7E; /* for browsers that don't support rgba() */
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    bottom: 50px;

    display: none;
}

.album .caption .label
{
    color: #F0F0F0;
    font-size: 22px;
    display: inline-block;
    margin: 10px 0 0 10px;
}
