.icon-github
{
    background-image: url('/img/github-mark.svg');
    background-size: 32px;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-bottom: -8px;
}

.icon-mastodon
{
    background-image: url('/img/mastodon-mark.svg');
    background-size: 32px;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-bottom: -8px;
}

.icon-linkedin
{
    background-image: url('/img/linkedin-mark.svg');
    background-size: 32px;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-bottom: -8px;
}

.post-footer .share .icon-feed:hover {
    color: #ea7818;
}

/* Admonition callout styling */
.admonition .admonition-header span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}