<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
    <meta name="HandheldFriendly" content="True" />
    <!-- Open Graph meta tags for link previews -->
    <meta property="og:title" content="{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}" />
    <meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
    <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:image" content="{{ partial "social-image.html" . }}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}" />
    <meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
    <meta name="twitter:image" content="{{ partial "social-image.html" . }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/screen.css" />
    <link rel="stylesheet" href="/css/hljs.css" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
    <link rel="stylesheet" href="/css/custom.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="/rss.xml" />
    <link rel="me" href="https://hachyderm.io/@mattkotsenas">
    <!-- BEGIN: Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-8867357-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-8867357-1');
    </script>
    <!-- END: Google tag -->
  </head>
  <body class="{{ if .IsPage }}post-template{{ else }}home-template{{ end }} nav-closed">
    {{ partial "navigation.html" . }}
    <div class="site-wrapper">

      {{ block "main" . }}{{ end }}

      <footer class="site-footer clearfix">
        <section class="copyright"><a href="/">{{ .Site.Title }}</a> &copy; {{ now.Year }}</section>
      </footer>

    </div>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/js/jquery.fitvids.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
