<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
      <span class="hidden">Close</span>
    </a>
    <ul>
      <li class="nav-any{{ if eq .Section "" }} nav-current{{ end }}" role="presentation">
        <a href="/">Home</a>
      </li>
      <li class="nav-any{{ if eq .Title "About" }} nav-current{{ end }}" role="presentation">
        <a href="/about">About</a>
      </li>
      <li class="nav-any{{ if eq .Title "Photos" }} nav-current{{ end }}" role="presentation">
        <a href="/photos">Photos</a>
      </li>
    </ul>
    <a class="subscribe-button icon-feed" href="/rss.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>
